<div class="about-hero-container">
  {{nav-bar}}
</div>
<div class="container about-the-demo">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 about-text">
      <h2>About this demo</h2>
       <div>
          This National Atlantic wealth management demo illustrates how real-time video can 
          enhance the online customer service for the financial services industry. Built by 
          the team at TokBox, Inc., a Telefonica Digital company, National Atlantic demonstrates 
          the full range of capabilities from our OpenTok for Customer Service SDK. 
      </div>
      <div>
          Whether you're setting up a call center for an online retail website, building a scheduling 
          system for a video telemedicine practice, or enhancing the <span class="font-bug-fix">“</span>call my agent<span class="font-bug-fix">”</span> feature for a real 
          estate practice <span class="font-bug-fix">–</span> OpenTok for Customer Service allows for simple integration of real-time video 
          into the familiar landscape of your current website or mobile app.
      </div>
      <div>
          TokBox is fundamentally changing the way we communicate online. It's now easier than ever to add 
          enterprise-grade, WebRTC video communication to any web or mobile application with the platform OpenTok.
       </div>
       <div>
          "The National Atlantic demo is a great way to exhibit OpenTok for the financial services industry, where 
          we see more and more companies combining the convenience of online banking with the high touch experience 
          you get with live video. It<span class="font-bug-fix">’</span>s our mission to make WebRTC video easy so that you can focus on the needs of 
          your customers and the growth of your business."
        </div>
        <div>
          - Ian Small, CEO
       </div>
    </div>
  </div>
</div>

