<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-table">
        <div class="modal-tablecell">
          {{#if archiveVideoUrl}}
            <video id="previewModalVideo" width="640" height="480" controls>
              <source {{bind-attr src=archiveVideoUrl}} type="video/mp4">
            Your browser does not support the video tag.
            </video>
          {{/if}}
        </div>
      </div>
</div><!-- /.modal -->

{{outlet}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-left">
          <img src="/images/logo.png">
          <div>
            "National Atlantic Bank" is an OpenTok demo created by TokBox, a Telef<span class="font-bug-fix">ó</span>nica Digital Company.
          </div>
          <div>©2013 TokBox Inc.</div>
        </div>
        <div class="pull-right footer-links">
          <ul>
            <li><a href="mailto:support@tokbox.com">Contact TokBox</a></li>
            <li>{{#link-to 'about'}}About this Demo{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
