.about-hero-container {
    li.about {
     // padding-right: 0px;
    }

    background-image: url('/images/about_hero.jpg');
    background-size: 100% 100%;
    min-height: 379px;
    
    width: 100%;
}

.about-the-demo {

  .about-text {
    h2 {
      padding-bottom: 20px;
    }

    div {
      padding-bottom: 25px;
    }

    div:last-of-type {
      padding-bottom: 70px;
    }
  }

}