.nav-tabs {
  li {
    position: relative;
    overflow: hidden;
    width: 25%;
    a {
      color: black;
      border: none;
    }
    &:before {
      position: absolute;
      content: ' ';
      top: 0px;
      right: 2px;
      bottom: 0;
      left: 0;
      background-color: transparent;
      box-shadow: 0 0 5px black;
      border-right: 1px solid white;
    }
    &:last-child:before {
      display: none;
    }
  }
  li.active {
    background-color: #FFFFFF;
    &:before {
      border-right: 1px solid black;
    }
    a {
      color: black;
      border-radius: 0;
      border-bottom-color: transparent;
      border: 0;
      background-color: #FFFFFF;
    }
  }
}

.transactions {
  .tab-pane.active {
    background-color: #FFFFFF;
    margin-bottom: 10px;

    box-shadow: 1px 1px 3px #888888;
    
    .transaction-entry {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 0px;   
      padding-bottom: 0px;
      

      font-family: $book-font;
      font-size: 16px;

      .transaction-data {
       padding-top: 25px;
       padding-bottom: 25px;
      }
    }


  }
}

.transaction-row {
  border-bottom: 1px solid black;
}

.overview {
  padding-bottom: 20px;

  h5 {
    font-size: 16px;
  } 

  div.numbers {
    h5 {
      @extend .change-green;
      font-family: $book-font;
    }
  }
}
