// styles for main hero
.hero-container {
	background-image: url('/images/hero.jpg');
	background-size: 100% 100%;
	min-height: 636px;
	width: 100%;
}

.main-hero {
    width: 100%;
}

.login-table {
	height: 560px;
	width: 100%;
	display: table;
}
.login-header {
	margin-bottom: 10px;
	h1{
		border-bottom: 1px solid #fff;
		padding-bottom: 30px;
	}
}
.login-tablecell {
	height: 100%;
	display: table-cell;
	vertical-align: middle;

	.popover {
		color: black;
	}

	.password-input {
		font-family: "Georgia";
	}
	// .container {
	// 	max-width: none !important;
	// 	min-width: 1184px;
	// }
}
.login-input-row {
	margin-bottom: 40px;

	input {
		width: 185px;
	}

	.login-button {
		padding-left: 0px;
		padding-top: 3px;
		cursor: pointer;
		a {
			font-family: "Georgia";
			font-size: 18px;
		}
	}
}
.black-overlay {
	color: #fff;
	background-color: #000000;
	opacity: .85;
	a{
		font-size: 23px;
		font-family: $headings-font-family;
		color: #fff;
	}
	input{
		text-align: center;
		// font-size: 14px;
	}
}

