// home page styles go here

// .hero-container {
// 	.navbar {
// 		.container {
// 			//min-width: 1184px;
// 		}
// 	}

// 	.container {
// 		//@include non-responsive-container;
// 	}
// }


.hp-middle{
	background-color: #d8d8d8;
	padding: 0px 0 36px 0;
	width: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 3px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 3px rgba(50, 50, 50, 0.5);

	.container {
		@include non-responsive-container;
		//max-width: none !important;
		//min-width: 1184px;
	}
}

.non-responsive {
	div.container {
		// max-width: none !important;
		// min-width: 1184px;
		@include non-responsive-container;


		.stock-prices {
			padding-top: 30px;
			font-size: 13px;
			font-family: "Avenir LT W01 85 Heavy";

			.stock-title {
				font-size: 18px;

	      // font-size: 10pt;
	      //color: #004279;
	      //font-weight: bold;
			}
			.stock-price {
	   		//font-family: "Avenir LT W01 85 Heavy";
			}
			.stock-change {
				@extend .change-green;
			}
			.stock-percent-change {
				@extend .change-green;
			}

			.credit {
				font-size: 16px;
			}
		}
	}
}

.img-middle{
	margin: 40px 0 0 0;
}

.top{
	margin-top: 40px;
	margin-bottom: 40px;
	.col-md-4{
		border-right: 1px solid #000;
	}
}

.last{
	border-right: none!important;
}
.bottom {
	margin-bottom: 20px;
	p {
		padding-top: 20px;
	}
}
.stock-headline {
	margin-bottom: 25px;
}
.stocks-list ul{
	padding: 0 0 0 0;
}
.stocks-list{
	margin-bottom: 30px;
}
.change-green{
	color: #079e00;
}
.change-red{
	color: #cf4c4c;
}
.change {
	ul{
		//margin-right: 25px;
	}
}
.line-losers{
	border-bottom: 1px solid #000;
	padding: 0 0 0 0!important;
	margin: -10px 0 10px 92px;
}

.footer-links{
	margin-top: 38px;
}
.stock-line {
	margin-bottom: 10px;
	margin-top: -5px;
}

.stock-table {
	float: right;
}
.graph-img {
	float: right;
}

