.todays-markets {
    //margin-left: 10px;
      //margin-right: 10px;
    font-family: $book-font;
    font-size: 16px;

    .white-box {
      background-color: #FFFFFF;
      box-shadow: 1px 1px 3px #888888;
    }

    
    .market-graphs {
      margin-right: 0px;
      margin-left: 0px;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .market-graph {

      span {
        // font-family: $book-font;
        // font-size: 16px;
      }
        
      img {
        padding-top: 15px;
      }
    }

    .trading-info-title {
      padding-top: 15px;

      // font-family: $book-font;
      // font-size: 16px;
    }

    .divider {
      margin-top: -10px;
    }

    .divider, .trading-info-title {
      margin-right: 0px;
      margin-left: 0px;

      //padding-top: 30px;
    }


   

    .trading-info {
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 10px;
      padding-top: 15px;
      padding-bottom: 40px;

      font-size: 12px;


    }

    .trading-text-blue {
      font-family: "Avenir LT W01 85 Heavy";
      // font-size: 10pt;
      color: #004279;
      font-weight: bold;
    }

    .trading-text-red {
      color: #8f5855;
      //font-size: 10pt;
    }

    .green-text {
      color: #00996d;
      //zzfont-size: 10pt;
    }
  
}




