// this is where to put variables that bootstrap uses to build its styles.
// examples: $font-family-base

// DEFINE THE FONTS
@font-face {
  font-family: "Avenir LT W01 35 Light";
  font-style: normal;
  src: url(fonts/Avenir_35_Light.ttf);
}

@font-face {
  font-family: "Avenir LT W01 85 Heavy";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/AvenirLTStd-Heavy.otf);
}

@font-face {
  font-family: "AvenirLTStd Medium";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/AvenirLTStd-Medium.otf)
}

@font-face {
  font-family: "Avenir Book";
  font-style: normal;
  src: url(fonts/Avenir_45_Book.ttf);
}



@font-face {
  font-family: "Avenir Roman";
  font-style: normal;
  src: url(fonts/Avenir_55_Roman.ttf);
}

$body-bg: #f0f0f0;
//$font-family-base: 'Avenir LT W01 35 Light', Helvetica, Arial, sans-serif;
$font-family-base: 'Avenir Book', Helvetica, Arial, sans-serif;
$heavy-font: 'Avenir LT W01 85 Heavy';
$book-font: 'Avenir Book';
$medium-font: 'AvenirLTStd Medium';
$font-size-base: 18px;
$headings-font-family: 'Georgia', Times, serif;
$grid-gutter-width: 44px;
$navbar-height: 74px;
$navbar-default-color: #e5e5e5;
$input-border-radius: 0px;

$container-min-width: 1080px;

.font-bug-fix {
  font-family: "Georgia";
}

@mixin non-responsive-container {
  max-width: none !important;
  min-width: $container-min-width;
  width: 1080px;
}

@import "bootstrap-sass/lib/bootstrap";

$dark-blue: #D8DEE4;
$alert: #B9010F;
@import "home";
@import "hero";
@import "account";
@import "chat_widget";
@import "date_picker";
@import "account_overview";
@import "todays_markets";
@import "nav_bar";
@import "rep";
@import "about";

/* Put your CSS here */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.container {
  @include non-responsive-container;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  // Inner gutter via padding
  padding-left:  15px;
  padding-right: 15px;
}

ul li{
	list-style: none;
}

html{
  -webkit-font-smoothing: antialiased;
  min-width: 1200px;
}

body {
  min-width: 1200px;
}


.line{
	border-bottom: 1px solid #000;
}
.grey-line{
	border-bottom: 1px solid $body-bg;
}

.white-line {
  border-bottom: 1px solid white;
}

.info-container {
  background-color: $dark-blue;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid white;
}

.white-container {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  background-color: #FFFFFF;
  .grey-line {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.grey-container {
  background-color: $body-bg;
  height: 100%;
  width: 100%;
}

.full-size {
  min-width: 1200px;

  .container {
    @include non-responsive-container;
    width: 1000px;
  }

}


.navbar-brand{
	font-family: $headings-font-family;
	font-size: 32px;
}
.navbar-brand:hover{
	color: #000!important;
}

.navbar .navbar-brand{
	color: #000;
}
.navbar{
	opacity: .95;
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
	background-color: #d8d8d8;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.5);

  .container {
    max-width: none !important;
    min-width: $container-min-width;
  }
}


h1, h2, h3{
	font-family: $headings-font-family;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 30px;
}
h3{
  font-size: 26px;
	//font-size: 25px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

strong{
	font-family: "Avenir LT W01 85 Heavy";
}

.footer{
	color: #fff;
	background-color: #000;
	font-size: 15px;

  ul {
    text-align: right;
  	li{
  		list-style: none;
  	}
  }
	a{
		color: #fff;
	}
	img {
		margin-bottom: 10px;
	}
	.row {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.main-container {
  padding-bottom: 40px;
}

.nav-tabs {
  a {
    font-family: $headings-font-family;
    font-size: 20px;
  }
}

.transaction-entry {
  font-size: 16px;
}

// bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
//   width: 100%;
// }
.modal-table {
  display: table;
  width: 100%;
  height: 800px;

  .modal-tablecell {
      display: table-cell;
      height: 100%;
      width: 100%;
      //margin: auto;
      vertical-align: middle;

      video {
        margin: auto;
        display: block;
      }
  }
}

.font-bug {
  font-family: "Georgia";
}


// Customize the select picker
.ember-view {
  .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 100%;
  }

  div.bootstrap-select {
    width: 100%;

    button{
     // width: 80%;
      padding-top: 0px;
      padding-bottom: 0px;
      border-radius: 0px;
    }
  }
}

